body {
    font-family: 'Noto Serif', serif;
    color: #222;
    background-color: white;
}

.carousel-item img {
    object-fit: cover;
}

.carousel-caption {
    text-align: right;
    color: lightgray;
    /*position: absolute;*/
    /*width: 300px;*/
    /*left: 80vw;*/
    /*display: block;*/
    /*top: 85vh;*/
    /*left: 90vw;*/
    /*margin: -100px 0 0 0;*/
    /*height: 50px;*/
    /*width: 100px;*/
}

/*.carousel-caption p {*/
/*    -webkit-transform: rotate(270deg);*/
/*    -moz-transform: rotate(270deg);*/
/*    -o-transform: rotate(270deg);*/
/*    -ms-transform: rotate(270deg);*/
/*    transform: rotate(270deg);*/
/*}*/

.navbar-brand img {
    height: 40px;
}

#fixed {    
    height: calc(100vh - 72px);    
    /*background: linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5) ), url("/theme-imgs/header.jpg") no-repeat center top; !* fixed *!*/
    background: linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5) ), url("/theme-imgs/coverimg.jpg") no-repeat center top; /* fixed */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin: 0;
}

#fixed-container {
    padding: 0;    
}

#kitchen-img {
    height: 80vh;
}

#klappentext {
    text-align: left;
}

#note-preorder p {
    line-height: 20pt;
}

#kaufen {
    background-color: #f3f3f4;
}
#kaufen h2 {
    margin-bottom: 1em;
}
#kaufen p {
    margin: 0;
}

p.bold {
    font-weight: bold !important;
}
.profile img {
    max-width: 96px;
    max-height: 96px;
}
.profile p.bold {
    margin-top: 1em;
    margin-bottom: 0;
}
.profile p {
    font-size: 10pt;
}

#introbox .row {
    margin-bottom: 0;
    line-height: 22pt;
    background-color: #f3f3f4;
}

#team {
    background-color: #f3f3f4;
}

.detailed-description p, .description p {
    text-align: center;
}
.detailed-description a, .description a {
    font-size: 12pt;
}

.detail-img-container {
    padding: 20em 20em;
}

.circle {
    border-radius: 50%;    
}
.logos {
    margin-top: 3em;
}
.logo {
    height: 64px;
}
.info-icon {
    /*height: 128px;*/
    max-height: 128px;
    max-width: 20vw;
}
.separator {
    width: 64px;
}

.margin-btm {
    margin-bottom: 1em;
}
.margin-btm-lg {
    margin-bottom: 3em;
 }
.margin-top {
    margin-top: 1em;
}
.margin-top-lg {
    margin-top: 3em;
}
.padding-btm-lg {
    padding-bottom: 3em;
}

.logosf {
    height: 128px;    
}
.logosfy {
    height: 148px;
}

.icon {
    height: 128px;
    margin-bottom: 1em;
}

.nopm {
    margin: 0;
    padding: 0;
}
.detail-img {
    width: 100%;
    height: 60vh;
}
.center-img {
    padding-left: 1em;
    padding-right: 1em;
}

p {
    line-height: 20pt;
}

.description p {
    line-height: 20pt;
}

.mute {
    color: gray;
}

.jumbotron {
    background-color: white;
}

#features {
    margin-bottom: 0;
    padding: 32px;
}

.no-padding {
    padding: 0;
}

#img-slider .carousel-inner {
    /*-webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);*/
    /*-moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);*/
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.14), 5px 5px 5px -5px rgba(0, 0, 0, 0.12), 5px 5px 5px -5px rgba(0, 0, 0, 0.2);
}

p.gray {
    color: white;
}

a {
    color: white;
}

a:hover {
    color: white;
    
}

footer {
    color: #dfdfdf;
    background-color: #272727;;
    padding: 2em 0;
    margin: 0;
}

footer hr {
    border-top: 1px solid #dfdfdf;
}

footer a {
    color: #dfdfdf;
    text-decoration: underline;
}

footer a:hover {
    color: #999999;
}

footer p {
    margin: 0;
}

.btn {
    border-radius: 0;
}

.btn-primary {
    background-color: #d40000;
    color: white;
}

.btn-primary:hover {
    background-color: #d40000;
    color: #272727;
}

.btn-primary:focus, .btn-primary:disabled {
    background-color: #d40000;
    color: #272727;
    border-color: #343a40;
}

.dark {
    color: #dfdfdf;
    background-color: #272727;
}

.black {
    color: #222;
    text-decoration: underline;
}

a.black:hover {
    color: #222;
}

a.card-link {
    color: #272727;
}

input.no-spinner::-webkit-outer-spin-button,
input.no-spinner::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input.no-spinner[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.submit-button-container {
    margin-top: 1em;    
}

.center-text {
    text-align: center;
}

#order, .card {
    margin: 2em 0;    
}

#order p {
    line-height: 16pt;
}

.loader {
    margin-left: calc(50% - 32px);
    margin-bottom: 32px;
    border: 4px solid #e9ecef; /* Light grey */
    border-top: 4px solid #d40000; /* Blue */
    border-radius: 50%;
    width: 64px;
    height: 64px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hide {
    display: none !important;
}

#server-response {
    margin-bottom: 32px;
}

#server-response-2 {
    margin-bottom: 8px;
    font-weight: bold;
}

#server-response-3 {
    margin-bottom: 32px;
    font-weight: bold;
}

#server-response-4 { 
    margin-bottom: 16px;
}

.form-control {
    margin-bottom: 1em;
}

#agbs p, #datenschutz p, #impressum p {
    margin-bottom: 1em;
}

#agbs .no-margin, #datenschutz .no-margin, #impressum .no-margin {
    margin-bottom: 0 !important;
}

#order-form a, #agbs a, #datenschutz a, #impressum a {
    color: #343a40;
    text-decoration: underline;
}

#order-form a:hover, #agbs a:hover, #datenschutz a:hover, #impressum a:hover {
    color: black;
}