body {
    font-family: 'Poppins', sans-serif;
    color: #222;
}

.carousel-item img {
    object-fit: cover;
}

#fixed {
    height: 50vh;
    background: linear-gradient( rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55) ), url("/theme-imgs/calendarium_bw-web-sm.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin: 0;
}

#fixed-container {
    padding: 0;
}

#description .row, p {
    margin-bottom: 0;
}

#detailed-description {
    padding-top: 2em;
    padding-bottom: 2em;
}

#features {
    margin-bottom: 0;
}

footer {
    color: #dfdfdf;;
    background-color: #272727;;
    padding: 2em 0;
    margin: 0;
}

a {
    color: white;
}

a:hover {
    color: white;
    
}

footer a {
    color: #dfdfdf;;
    text-decoration: underline;
}

footer a:hover {
    color: #dfdfdf;;
}

footer p {
    margin: 0;
}

.btn-primary {
    background-color: #d40000;
    color: white;
}

.btn-primary:hover {
    background-color: #d40000;
    color: #272727;
}

.btn-primary:focus {
    background-color: #d40000;
    color: #272727;
    border-color: #343a40;
}

.dark {
    color: #dfdfdf;;
    background-color: #272727;;
}

a.card-link {
    color: #272727;
}

input.no-spinner::-webkit-outer-spin-button,
input.no-spinner::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input.no-spinner[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.submit-button-container {
    margin-top: 1em;
    text-align: center;
}

#order {
    margin: 2em 0;
    max-width: 30rem;
}