body {
    font-family: 'Noto Serif', serif;
    color: #222;
}

.carousel-item img {
    object-fit: cover;
}

#fixed {
    height: calc(100vh - 72px);
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75) ), url("/theme-imgs/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin: 0;
}

#fixed-container {
    padding: 0;    
}

#kitchen-img {
    height: 80vh;
}

#description .row, p {
    margin-bottom: 0;
}

#detailed-description {
    padding-top: 2em;
    padding-bottom: 2em;    
}

p {
    line-height: 20pt;
}

.description p {
    line-height: 24pt;
}

.description-img {
    margin: 3em 0;
}

.mute {
    color: gray;
}

#features {
    margin-bottom: 0;
}

#features img {
    margin-top: 2em;
}

a {
    color: white;
}

a:hover {
    color: white;
    
}

footer {
    color: #dfdfdf;
    background-color: #272727;;
    padding: 2em 0;
    margin: 0;
}

footer hr {
    border-top: 1px solid #dfdfdf;
}

footer a {
    color: #dfdfdf;
    text-decoration: underline;
}

footer a:hover {
    color: #999999;
}

footer p {
    margin: 0;
}

.btn-primary {
    background-color: #d40000;
    color: white;
}

.btn-primary:hover {
    background-color: #d40000;
    color: #272727;
}

.btn-primary:focus, .btn-primary:disabled {
    background-color: #d40000;
    color: #272727;
    border-color: #343a40;
}

.dark {
    color: #dfdfdf;;
    background-color: #272727;;
}

a.card-link {
    color: #272727;
}

input.no-spinner::-webkit-outer-spin-button,
input.no-spinner::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input.no-spinner[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.submit-button-container {
    margin-top: 1em;    
}

.center-text {
    text-align: center;
}

#order, .card {
    margin: 2em 0;    
}

#order p {
    line-height: 16pt;
}

#loader {
    margin-left: calc(50% - 32px);
    margin-bottom: 32px;
    border: 4px solid #e9ecef; /* Light grey */
    border-top: 4px solid #d40000; /* Blue */
    border-radius: 50%;
    width: 64px;
    height: 64px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hide {
    display: none !important;
}

#server-response {
    margin-bottom: 32px;
}

#server-response-2 {
    margin-bottom: 8px;
    font-weight: bold;
}

#server-response-3 {
    margin-bottom: 32px;
    font-weight: bold;
}

#server-response-4 { 
    margin-bottom: 16px;
}

.form-control {
    margin-bottom: 1em;
}

#agbs p, #datenschutz p, #impressum p {
    margin-bottom: 1em;
}

#agbs .no-margin, #datenschutz .no-margin, #impressum .no-margin {
    margin-bottom: 0 !important;
}

#order-form a, #agbs a, #datenschutz a, #impressum a {
    color: #343a40;
    text-decoration: underline;
}

#order-form a:hover, #agbs a:hover, #datenschutz a:hover, #impressum a:hover {
    color: black;
}