<!DOCTYPE html>
<html lang="de">
  <head>
    {{ partial "head.html" . }}    
  </head>
  <body>
    {{ partial "header-subsite.html" . }}
      
      <div class="container-fluid">
          <div class="row">
            <div class="card col-xs-10 col-sm-10 col-md-8 col-lg-6 col-xl-4 mx-auto">                
                <div class="card-body text-center">
                  <h1 class="card-title">Allgemeine Geschäftsbedingungen</h1>                  
                  <a href="/agb/agb.pdf" class="btn btn-outline-dark btn-lg" style="margin-top: 1em;">Zur PDF-Version</a>
                </div>                
                <div id="agbs" class="card-body">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>      
    </body>
</html>