<!DOCTYPE html>
<html lang="de">
  <head>
    {{ partial "head.html" . }}
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>    
  </head>
  <body>
      <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">calendarium culinarium</a>
        </div>
      </nav>

      <!-- Ordering form. -->
      <div class="container-fluid">
        <div class="row">          
          <div id="order" class="card col-xs-10 col-sm-10 col-md-8 col-lg-6 col-xl-4 mx-auto">                          
              <div class="card-body text-center">
                <h5 id="order-title" class="card-title">Bestellung überprüfen</h5>                
              </div>
              {{ partial "note_preorder.html" . }}
              <div id="loader-container" class="hide center-text">
                <div id="loader" class="loader"></div>
                <p id="server-response"></p>
                <p id="server-response-2"></p>
                <p id="server-response-3"></p>                
                <a id="problem-button" class="btn btn-primary btn-lg btn-outline-light" href="mailto:sebastian@slowfoodyouthh.de?subject=Fehler%20bei%20einer%20Kalenderbestellung">Problem melden</a>
                <p id="server-response-4"></p>
              </div>
              <div id="order-form" class="card-body">                                                         
                  <form>
                    {{ partial "form-content.html" . }} 
                    <hr>                    
                    <!-- AGBs -->
                    <div class="form-check" style="margin-bottom: 0.5em;">
                      <input v-model="agrees_agbs" name="agbs" type="checkbox" class="form-check-input" id="agb-check" required>                            
                      <label class="form-check-label" for="agb-check">Ich habe die <a href="/agb" target="_blank" rel="noopener noreferrer">AGBs</a> gelesen und akzeptiere sie.</label>                      
                    </div>
                    <!-- Datenschutz -->
                    <div class="form-check" style="margin-bottom: 2em;">
                      <input v-model="agrees_data_privacy" name="datenschutz" type="checkbox" class="form-check-input" id="datenschutz-check" required>                            
                      <label class="form-check-label" for="datenschutz-check">Ich habe die <a href="/datenschutz" target="_blank" rel="noopener noreferrer">Datenschutzerklärung</a> gelesen und akzeptiere sie.</label>                      
                    </div>                                        
                  </form>
                  <div class="submit-button-container center-text">
                    <button v-on:click="backButtonClicked()" id="back-button" class="btn btn-outline-dark">Zurück</button>
                    <button v-on:click="orderButtonClicked()" id="place-order-button" class="btn btn-outline-dark">Zahlungspflichtig bestellen!</button>
                  </div>                    
              </div>
          </div>
      </div>
  </div>
    <script src="{{ `js/vue-2.6.12.js` | absURL }}"></script>    
    <script src="{{ `js/axios-0.21.0.js` | absURL }}"></script>    
    <script src="{{ `js/bestellung.js` | absURL }}"></script>    
    </body>
</html>
