<!DOCTYPE html>
<html lang="de">
  <head>
    {{ partial "head.html" . }}
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>    
  </head>
  <body>
    {{ partial "header-subsite.html" . }}

      <!-- Ordering form. -->
      <div class="container-fluid">
          <div class="row">
            <div id="order" class="card col-xs-10 col-sm-10 col-md-8 col-lg-6 col-xl-4 mx-auto">                
                <div class="card-body text-center">
                  <h5 class="card-title">Bestellformular</h5>                  
                </div>
                {{ partial "note_preorder.html" . }}
                <div id="order-form" class="card-body">
                    <form action="/bestellung">                                                                    
                        {{ partial "form-content.html" . }}                                                
                        <div class="submit-button-container center-text">                            
                            <button v-on:click="orderButtonClicked()" id="place-order-button" class="btn btn-lg btn-outline-dark">Bestellung überprüfen</button>                            
                        </div>                    
                    </form>
                </div>
            </div>
        </div>
    </div>
  
    <script src="{{ `js/vue-2.6.12.js` | absURL }}"></script>    
    <script src="{{ `js/bestellen.js` | absURL }}"></script>    
    </body>
</html>