<!DOCTYPE html>
<html lang="de">
  <head>
    {{ partial "head.html" . }}    
  </head>
  <body>
      <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">calendarium culinarium</a>
          <div>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Zurück</a>
              </li>
            </ul>
          </div>  
        </div>
      </nav>

      <!-- Ordering form. -->
      <div class="container-fluid">
          <div class="row">
            <div id="order" class="card col-xs-10 col-sm-10 col-md-8 col-lg-6 col-xl-4 mx-auto">                
                <div class="card-body text-center">
                  <h1 class="card-title">Datenschutz</h1>                  
                </div>                
                <div class="card-body">                    
                    {{ partial "text-datenschutz.html" . }}                                                                        
                </div>
            </div>
        </div>
    </div>      
    </body>
</html>