<!DOCTYPE html>
<html lang="de">
  <head>
    {{ partial "head.html" . }}    
  </head>
  <body>
    <script src="https://www.paypal.com/sdk/js?client-id=ARDSKiyNT-7Me_5MbJnxO8o7eiwO63MEhj7rB4gjZG05egtPPwYxKzY-SYtDssmmKioVabqW1LmCVjeL&currency=EUR"></script>
      {{ partial "header-subsite.html" . }}
      
      <div class="container-fluid">
          <div class="row">
            <div id="order" class="card col-xs-10 col-sm-10 col-md-8 col-lg-6 col-xl-4 mx-auto">                
                <div class="card-body text-center">
                  <h1 class="card-title">PayPal Test</h1>                  
                </div>                
                <div class="card-body">                    
                    <div id="paypal-button-container"></div>
                    <!-- Add the checkout buttons, set up the order and approve the order -->
                    <script>
                        paypal.Buttons({
                            createOrder: function(data, actions) {
                            return actions.order.create({
                                application_context: {
                                    // shipping_preference: "NO_SHIPPING"
                                    shipping_preference: "SET_PROVIDED_ADDRESS",
                                    user_action: "PAY_NOW", 
                                    payment_method: {payer_selected: "PAYPAL", payee_preferred: "IMMEDIATE_PAYMENT_REQUIRED"}
                                },                                    
                                purchase_units: [{
                                    amount: {value: '20.00',currency_code: 'EUR', 
                                        // breakdown: {
                                        //     item_total: { currency_code: "EUR", value: "19.50"},
                                        //     shipping: { currency_code: "EUR", value: "0.00"},
                                        //     handling: { currency_code: "EUR", value: "0.00"},
                                        //     tax_total: { currency_code: "EUR", value: "0.50"}
                                        // }
                                    },         
                                    // items: [{
                                    //     name: "Calendarium Culinarium",
                                    // //     unit_amount: {currency_code: "EUR", value: "20.00"},
                                    //     quantity: "2"
                                    // }],
                                    description: "Calendarium Culinarium",         
                                    soft_descriptor: "Calendarium",
                                    custom_id: "CC-000001",
                                    reference_id: "CC-000001",
                                    shipping: {
                                        address: {
                                            address_line_1: "2211 N First Streetsss",
                                            address_line_2: "Building 17",
                                            admin_area_2: "San Jose",
                                            admin_area_1: "CA",
                                            postal_code: "95131",
                                            country_code: "US"
                                        }
                                    },                                        
                                }],                               
                            });
                            },
                            onApprove: function(data, actions) {
                                return actions.order.capture().then(function(details) {
                                    alert('Transaction completed by ' + details.payer.name.given_name);
                                });
                            },
                            onCancel: function(data) {
                                // Nix zu machen.
                            }
                    }).render('#paypal-button-container'); // Display payment options on your web page
                    </script>
                </div>
            </div>
        </div>
    </div>      
    </body>
</html>