<!DOCTYPE html>
<html lang="de">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
      <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">calendarium culinarium</a>
          <div class="navbar">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/bestellen"><i class="fas fa-shopping-cart"></i></a>
              </li>
            </ul>
          </div>          
        </div>
      </nav>

      <!-- Sneak preview section. -->
      <div id="fixed-container" class="container-fluid">
        <div id="fixed" class="row col-12"></div>
        <div class="carousel-caption col-xs-8 mx-auto">
          <h1>calendarium</h1>
          <h1>culinarium</h1>
          <div style="height: 1em;"></div>          
          <h5>Der Saisonkalender von</h5>
          <h5>Slow Food Youth</h5>
          <h5>Deutschland</h5>
          <div style="height: 14vh;"></div>          
          <div>
            <img src="theme-imgs/logo_sfd.jpg" class="img-fluid circle logo">
          </div>                    
        </div>
      </div>      

      <!-- The description. -->
      <div id="description" class="container-fluid">
        <div class="row jumbotron">
          <div class="col-xs-10 col-sm-8 col-md-6 col-lg-4 text-center mx-auto">
            <h5>Das Calendarium Culinarium ist ein besonderer Saisonkalender.</h5> 
            <h5>Er ist schön, er ist informativ - und er tut Gutes!</h5>
          </div>          
        </div>
      </div>

      <!-- The detailled description. -->
      <div id="detailed-description" class="dark container-fluid">
        <div class="dark row text-center h-100">
          <div class="description col-xs-10 col-sm-8 col-md-6 col-lg-4 mx-auto">
            <div class="col-xs-12 col-md-2" style="margin-bottom: 2em;"></div>   
            <h5>Der Kalender</h5>
            <p style="height: 0.5em;"></p>
            <p>50 handgezeichnete Obst- und Gemüsesorten bilden die wundervolle Vielfalt hiesiger Lebensmittel ab. In den Kreisen wird zusätzlich dargestellt, wann das jeweilige Produkt in Deutschland verfügbar ist – sei es „Frisch vom Feld“ oder als „Lagerware“.</p>            
          </div>          
          <div class="description-img col-12">
            <p style="height: 3em;"></p>
            <img src="theme-imgs/calendarium.png" class="img-fluid" style="max-height: 60vh;">
            <p style="height: 3em;"></p>
          </div>          
          <div class="description col-xs-10 col-sm-8 col-md-6 col-lg-4 mx-auto">
            <h5>Dein Beitrag</h5>
            <p style="height: 0.5em;"></p>
            <p>Der Saisonkalender ist in einem ehrenamtlichen Projekt von Slow Food Youth entstanden. Mit Deinem Kauf unterstützt Du die Arbeit von Slow Food Deutschland e.V. und leistest so einen kleinen Beitrag zu einem zukunftsfähigen Ernährungssystem.</p>
            <div class="col-xs-12 col-md-2" style="margin-bottom: 2em;"></div>   
            <img src="theme-imgs/logo_sfyd_white.png"/>                        
          </div>
          </div>                 
        </div>
      </div>

      <!-- The features. -->
      <div class="container-fluid">
        <div id="features" class="row jumbotron">
          <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <img src="theme-imgs/icon_1_blickfang.png"/>
            <p class="lead">Blickfang</p>
            <p>ein absoluter Hingucker</p>
            <p style="height: 1em;"></p>
          </div>          
          <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <img src="theme-imgs/icon_2_guterzweck.png"/>
            <p class="lead">Guter Zweck</p>
            <p>alle Erlöse fließen in die Arbeit des Slow Food Deutschland e.V.</p>
            <p style="height: 1em;"></p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 text-center">      
            <img src="theme-imgs/icon_3_nachhaltigkeit.png"/>      
            <p class="lead">Nachhaltig Gedruckt</p>
            <p>bei einer klimaneutralen Druckerei</p>
            <p style="height: 1em;"></p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <img src="theme-imgs/icon_4_versand.png"/>
            <p class="lead">Kostenloser Versand</p>
            <p>innerhalb Deutschlands</p>            
          </div>
          <div class="col-12" style="height: 2em;"></div>
          <div class="col-12 text-center">
            <button class="btn btn-outline-dark btn-lg" data-toggle="collapse" data-target="#klappentext">Ich möchte mehr wissen</button>
          </div>
          <div id="klappentext" class="collapse">
            <div class="container-fluid">
              <div class="row col-xs-10 col-sm-8 col-md-6 mx-auto">
                <div style="margin-top: 4em;"></div>
                <p><strong>Die Idee:</strong> Für eine umwelt- und klimafreundliche Ernährung ist es sinnvoll, vermehrt Obst und Gemüse zu konsumieren. Gleichzeitig ist es wichtig, darauf zu achten, woher die einzelnen Produkte stammen, wann und unter welchen Bedingungen sie angebaut wurden oder auf welchen Wegen sie zu uns kommen. Nicht auf alle diese Fragen kann der Kalender eine Antwort geben, aber bei der einen oder anderen eine willkommene Hilfe sein.</p>  
                <p style="margin-bottom: 1em;">Vor einigen Jahren entwarf die Schweizer Youth einen Saisonkalender – das erste Calendarium Culinarium. Darauf basierend initiierte die Gruppe eine weltweite Aktion. Inzwischen gibt es Kalendarien aus verschiedensten Ländern oder Regionen, wie Schottland, Puerto Rico oder Thailand. Inspiriert von der Kreativität der anderen Gruppen wollten auch wir einen Kalender gestalten, der so gut aussieht, dass ihn sich jede*r in die Küche hängen möchte, und der gleichzeitig so informativ ist, dass die nächste Kochsession kulinarisch-informativ bereichert wird.</p>    
                <p style="margin-bottom: 1em;" ><strong>Das Projekt:</strong> Slow Food ist eine internationale Bewegung, die sich für eine gute, saubere und faire Lebensmittelproduktion einsetzt. Der Erhalt und die Stärkung regionalen Anbaus und handwerklicher Verarbeitung gehören dabei zu den wichtigen Zielen und bilden einen der Schwerpunkte der ehrenamtlichen Tätigkeit von über 12.000 Mitgliedern allein in Deutschland.</p>
                <p style="margin-bottom: 1em;"><strong>Das Team:</strong> Wir sind einige Mitglieder der Slow Food Youth, die über die Jahre viel Zeit, Lust und Leidenschaft in dieses Projekt gesteckt haben. Namentlich hervorheben wollen wir an dieser Stelle nur Luisa Möbus, die als Designerin einen entscheidenden Beitrag zum Gelingen des Kalenders geleistet hat.</p>
              </div>
            </div>
          </div>
        </div>        
      </div>

      <!-- <div id="slides" class="carousel slide" data-ride="carousel">        
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img id="kitchen-img" src="theme-imgs/kitchen_background_darkened.jpg" class="d-block w-100">
            <div class="carousel-caption">                                       
            </div>
          </div>          
        </div>
      </div> -->

      <!-- Ordering button. -->
      <div id="kaufen" class="container-fluid">
        <div class="row text-center">
          <div class="col-12" style="height: 4em;"></div>
          <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4 mx-auto">            
            <h2>Ich möchte einen haben!</h2>
            {{ partial "note_preorder.html" . }}            
            <p style="margin-bottom: 2em;">Der Kalender ist ca. im A1-Format (841 x 537 mm) auf Papier mit 150g/m² gedruckt. Die Versandzeit beträgt etwa 7 Werktage.</p>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-xs-12 col-md-8 col-xl-4 mx-auto">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Bestellmenge</th>  
                  <th scope="col">Preis</th>                
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1-2</th>                  
                  <td>20€ pro Kalender</td>
                </tr>
                <tr>
                  <th scope="row">ab 3</th>                  
                  <td>10% Rabatt</td>
                </tr>
                <tr>
                  <th scope="row">ab 5</th>                  
                  <td>15% Rabatt</td>
                </tr>   
                <tr>
                  <th scope="row">ab 50</th>                  
                  <td>20% Rabatt</td>
                </tr>                
              </tbody>
            </table>
            <p style="height: 2em;"></p>
          </div>
          <div class="col-12">
            <a href="bestellen" class="btn btn-outline-dark btn-lg">Zum Bestellformular</a>
          </div>          
          <div class="col-12" style="height: 4em;"></div>
        </div>
      </div>

      <!-- Footer. -->
      {{ partial "footer.html" . }}
  </body>  
</html>