{{ partial "head.html" . }}
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">      
      <main class="page-content" style="height: 100%">
        <div class="mdl-grid mdl-grid--no-spacing" style="background: url(imgs/kitchen_background.jpg); height: 100%">                                  
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-cell mdl-cell--6-col mdl-typography--text-center" style="margin-top: 10vh;">
                <h1>CALENDARIUM CULINARIUM</h1>
                <h2>Der Saisonkalender von Slow Food Youth</h2>
            </div>                  
            <div class="mdl-layout-spacer"></div>
        </div>        
        <!-- {{partial "footer.html" .}} -->
      </main>
    </div>
</body>  