<footer>
  <div class="container-fluid">    
    <div class="row text-center">            
      <div class="col-xs-10 col-sm-8 col-md-6 col-lg-4 mx-auto">
        <p><a href="impressum">Impressum</a></p>
        <hr>
        <p><a href="agb">AGB</a></p>
        <hr>
        <p><a href="datenschutz">Datenschutzerklärung</a></p>
        <hr>
        <p>Ein Projekt von <a href="https://www.slowfood.de/wirueberuns/slowfoodyouth" target="_blank" rel="noopener noreferrer">Slow Food Youth Deutschland</a>.</p>
      </div>         
    </div>    
  </div>
</footer>