<!-- Anzahl -->
<div class="form-group">
    <label for="form-amount">Anzahl</label>
    <input required v-model="amount" id="form-amount" name="amount" class="form-control" min="1" value="1" type="number" {{ if in (print .RelPermalink) "bestellung" }} disabled {{ end }}>
</div>
<!-- Preis -->
<div class="form-group">
<label for="form-amount">Preis in Euro</label>
<input readonly style="pointer-events: none; margin-bottom: 1em;" min="1" class="form-control" id="form-price" :value="[[ computeCurrentPrice() ]]"></input>
<!-- Bezahlform -->
<div class="form-check">
    <input class="form-check-input" type="radio" name="payment" id="payment-banktransfer" value="banktransfer" checked {{ if in (print .RelPermalink) "bestellung" }} disabled {{ end }}>
    <label class="form-check-label" for="payment-banktransfer">
      Überweisung <i class="fas fa-money-check"></i>
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="payment" id="payment-paypal" value="paypal" {{ if in (print .RelPermalink) "bestellung" }} disabled {{ end }}>
    <label class="form-check-label" for="payment-paypal">
      PayPal <i class="fab fa-paypal"></i>
    </label>
</div>
<p>Der Versand erfolgt nach Zahlung in Vorkasse. Die entsprechenden Zahlungsdetails erhältst Du in Deiner Bestellbestätigung.</p>
</div>   
<hr>
<!-- Rechnungsadresse -->
<div class="form-group">
    <label for="form-name">Rechnungsadresse</label>
    <input name="company_invoice" type="text" class="form-control" id="form-company-invoice" placeholder="Firma" :value="[[company_invoice]]" {{ if in (print .RelPermalink) "bestellung" }} disabled {{ end }}>
    <input required name="firstname_invoice" type="text" class="form-control" id="form-firstname-invoice" placeholder="Vorname" :value="[[firstname_invoice]]" {{ if in (print .RelPermalink) "bestellung" }} disabled {{ end }}>
    <input required name="lastname_invoice" type="text" class="form-control" id="form-lastname-invoice" placeholder="Nachname" :value="[[lastname_invoice]]" {{ if in (print .RelPermalink) "bestellung" }} disabled {{ end }}>    
    <input required name="email" type="email" class="form-control" id="form-email" aria-describedby="emailHelp" placeholder="Emailadresse" :value="[[email]]" {{ if in (print .RelPermalink) "bestellung" }} disabled {{ end }}>
    <input required name="address_street_invoice" type="text" class="form-control" id="form-address-street-invoice" placeholder="Straße" :value="[[address_street_invoice]]" {{ if in (print .RelPermalink) "bestellung" }} disabled {{ end }}>
    <input required name="address_street_no_invoice" type="text" class="form-control" id="form-address-street-no-invoice" placeholder="Hausnr." :value="[[address_street_no_invoice]]" {{ if in (print .RelPermalink) "bestellung" }} disabled {{ end }}>
    <input required name="address_code_invoice" type="number" class="no-spinner form-control" id="form-address-code-invoice" placeholder="Postleitzahl" :value="[[address_code_invoice]]" {{ if in (print .RelPermalink) "bestellung" }} disabled {{ end }}>
    <input required name="address_city_invoice" type="text" class="form-control" id="form-address-city-invoice" placeholder="Stadt" :value="[[address_city_invoice]]" {{ if in (print .RelPermalink) "bestellung" }} disabled {{ end }}>
    <input required name="address_country_invoice" type="text" class="form-control" id="form-address-country-invoice" placeholder="Land" value="Deutschland" :value="[[address_country_invoice]]" {{ if in (print .RelPermalink) "bestellung" }} disabled {{ end }}>
</div>                                                                                                                                
<hr>
<!-- Abweichende Lieferadresse -->
<div class="form-check">
    <input name="different_delivery_address" type="checkbox" class="form-check-input" id="different-delivery-check" {{ if in (print .RelPermalink) "bestellung" }} disabled {{ end }} {{ if in (print .RelPermalink) "bestellen" }} data-toggle="collapse" data-target="#delivery-fields" {{ end }}>                            
    <label class="form-check-label" for="different-delivery-check">abweichende Lieferadresse</label>                      
</div>
<!-- Lieferadresse -->
<div class="form-group collapse" id="delivery-fields" style="margin-top: 0.5em;">
    <label for="form-name">Lieferadresse</label>
    <input name="company_delivery" type="text" class="form-control" id="form-company-delivery" placeholder="Firma" :value="[[company_delivery]]" {{ if in (print .RelPermalink) "bestellung" }} disabled {{ end }}>
    <input name="firstname_delivery" type="text" class="form-control" id="form-firstname-delivery" placeholder="Vorname" :value="[[firstname_delivery]]" {{ if in (print .RelPermalink) "bestellung" }} disabled {{ end }}>
    <input name="lastname_delivery" type="text" class="form-control" id="form-lastname-delivery" placeholder="Nachname" :value="[[lastname_delivery]]" {{ if in (print .RelPermalink) "bestellung" }} disabled {{ end }}>    
    <input name="address_street_delivery" type="text" class="form-control" id="form-address-street-delivery" placeholder="Straße" :value="[[address_street_delivery]]" {{ if in (print .RelPermalink) "bestellung" }} disabled {{ end }}>
    <input name="address_street_no_delivery" type="text" class="form-control" id="form-address-street-no-delivery" placeholder="Hausnr." :value="[[address_street_no_delivery]]" {{ if in (print .RelPermalink) "bestellung" }} disabled {{ end }}>
    <input name="address_code_delivery" type="number" class="no-spinner form-control" id="form-address-code-delivery" placeholder="Postleitzahl" :value="[[address_code_delivery]]" {{ if in (print .RelPermalink) "bestellung" }} disabled {{ end }}>
    <input name="address_city_delivery" type="text" class="form-control" id="form-address-city-delivery" placeholder="Stadt" :value="[[address_city_delivery]]" {{ if in (print .RelPermalink) "bestellung" }} disabled {{ end }}>
    <input name="address_country_delivery" type="text" class="form-control" id="form-address-country-delivery" placeholder="Land" value="Deutschland" :value="[[address_country_delivery]]" {{ if in (print .RelPermalink) "bestellung" }} disabled {{ end }}>
</div>
<hr>
<!-- Reseller -->
<div class="form-check" style="margin-bottom: 0.5em;">
    <input name="is_reseller" type="checkbox" class="form-check-input" id="reseller-check" {{ if in (print .RelPermalink) "bestellung" }} disabled {{ end }}>                            
    <label class="form-check-label" for="reseller-check" aria-describedby="resellerHelp">Ich bin <a href="/agb/#weiterverkauf" target="_blank" rel="noopener noreferrer">Weiterverkäufer*in</a>.</label>                      
    <small id="resellerHelp" class="form-text text-muted">Bitte sag' uns Bescheid, wenn Du den Kalender weiterverkaufen möchtest (siehe <a href="/agb/#weiterverkauf" target="_blank" rel="noopener noreferrer">AGB</a>).</small>
</div>

<!-- Slow Food Mitglied -->
<div class="form-check">
    <input name="slow_food_member" type="checkbox" class="form-check-input" id="slow-food-member-check" {{ if in (print .RelPermalink) "bestellung" }} disabled {{ end }}>                            
    <label class="form-check-label" for="slow-food-member-check" aria-describedby="memberHelp">Ich bin Slow Food Mitglied</label>                            
    <small id="memberHelp" class="form-text text-muted">Nur für die Statistik</small>
</div>
<hr>
<!-- freie Nachricht -->
<div class="form-group">
    <label for="form-additional">Eine Nachricht an uns</label>
    <textarea name="message" class="form-control" id="form-additional" rows="5" placeholder="Nettes Feedback? Versand außerhalb Deutschlands? Schicke uns hier eine Nachricht!" :value="[[msg]]" {{ if in (print .RelPermalink) "bestellung" }} disabled {{ end }}></textarea>
</div>