<!-- Anzahl -->
<div class="form-group">
    <label for="form-amount">Anzahl</label>
    <input required v-model="amount" id="form-amount" name="amount" class="form-control" min="1" value="1" type="number" {{ if in (print .RelPermalink) "bestellung" }} disabled {{ end }}>
</div>
<!-- Preis -->
<div class="form-group">
<label for="form-amount">Preis in Euro</label>
<input readonly style="pointer-events: none; margin-bottom: 1em;" min="1" class="form-control" id="form-price" :value="[[ computeCurrentPrice() ]]"></input>
<!-- Bezahlform -->
<div class="form-check">
    <input class="form-check-input" type="radio" name="payment" id="payment-banktransfer" value="banktransfer" checked {{ if in (print .RelPermalink) "bestellung" }} disabled {{ end }}>
    <label class="form-check-label" for="payment-banktransfer">
      Überweisung <i class="fas fa-money-check"></i>
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="payment" id="payment-paypal" value="paypal" {{ if in (print .RelPermalink) "bestellung" }} disabled {{ end }}>
    <label class="form-check-label" for="payment-paypal">
      PayPal <i class="fab fa-paypal"></i>
    </label>
</div>
<p>Der Versand erfolgt nach Zahlung in Vorkasse per Überweisung oder via PayPal. Die entsprechenden Zahlungsdetails erhältst Du in Deiner Bestellbestätigung.</p>
</div>   
<hr>
<!-- Name & Email -->
<div class="form-group">
    <label for="form-name">Kontakt</label>
    <input required name="name" type="text" class="form-control" id="form-name" placeholder="Vor- & Nachname" {{ if in (print .RelPermalink) "bestellung" }} disabled :value="[[name]]" {{ end }}>
    <input required name="email" type="email" class="form-control" id="form-email" aria-describedby="emailHelp" placeholder="Emailadresse" {{ if in (print .RelPermalink) "bestellung" }} disabled :value="[[email]]" {{ end }}>
</div>                                                                
<hr>
<!-- Adresse -->
<div class="form-group">
    <label for="form-address-street">Lieferadresse</label>
    <input required name="address_street" type="text" class="form-control" id="form-address-street" placeholder="Straße" {{ if in (print .RelPermalink) "bestellung" }} disabled :value="[[address_street]]" {{ end }}>
    <input required name="address_street_no" type="text" class="form-control" id="form-address-street-no" placeholder="Hausnr." {{ if in (print .RelPermalink) "bestellung" }} disabled :value="[[address_street_no]]" {{ end }}>
    <input required name="address_code" type="number" class="no-spinner form-control" id="form-address-code" placeholder="Postleitzahl" {{ if in (print .RelPermalink) "bestellung" }} disabled :value="[[address_code]]" {{ end }}>
    <input required name="address_city" type="text" class="form-control" id="form-address-city" placeholder="Stadt" {{ if in (print .RelPermalink) "bestellung" }} disabled :value="[[address_city]]" {{ end }}>
</div>  
<!-- Reseller -->
<div class="form-check" style="margin-bottom: 0.5em;">
    <input name="is_reseller" type="checkbox" class="form-check-input" id="reseller-check" {{ if in (print .RelPermalink) "bestellung" }} disabled {{ end }}>                            
    <label class="form-check-label" for="reseller-check" aria-describedby="resellerHelp">Ich bin <a href="/agb/#weiterverkauf" target="_blank" rel="noopener noreferrer">Weiterverkäufer*in</a>.</label>                      
    <small id="resellerHelp" class="form-text text-muted">Muss angegeben werden, wenn Du Kalender weiterverkaufen möchtest (siehe <a href="/agb/#weiterverkauf" target="_blank" rel="noopener noreferrer">AGBs</a>).</small>
</div>

<!-- Slow Food Mitglied -->
<div class="form-check">
    <input name="slow_food_member" type="checkbox" class="form-check-input" id="slow-food-member-check" {{ if in (print .RelPermalink) "bestellung" }} disabled {{ end }}>                            
    <label class="form-check-label" for="slow-food-member-check" aria-describedby="memberHelp">Ich bin Slow Food Mitglied</label>                            
    <small id="memberHelp" class="form-text text-muted">Nur für die Statistik</small>
</div>
<hr>
<!-- freie Nachricht -->
<div class="form-group">
    <label for="form-additional">Eine Nachricht an uns</label>
    <textarea name="message" class="form-control" id="form-additional" rows="5" placeholder="Nettes Feedback? Versand außerhalb Deutschlands? Schicke uns hier eine Nachricht!" {{ if in (print .RelPermalink) "bestellung" }} disabled :value="[[msg]]" {{ end }}></textarea>
</div>