<div id="impressum">
    <p>Das Portal <a href="https://calendariumculinarium.de/">https://calendariumculinarium.de/</a> wird von Slow Food Deutschland e.V. unterhalten.</p>

    <p class="no-margin">Slow Food Deutschland e.V.</p>
    <p class="no-margin">Luisenstr. 45</p>
    <p class="no-margin">10117 Berlin</p>
    <p class="no-margin">Tel. (0 30) 2 00 04 75-0</p>
    <p class="no-margin">Fax (0 30) 2 00 04 75-99</p>
    <p class="no-margin">info@slowfood.de</p>
    <p>www.slowfood.de</p>

    <p class="no-margin">Vereinssitz Berlin/Amtsgericht Charlottenburg VR 34593 B</p>
    <p class="no-margin">Finanzamt Berlin für Körperschaften I, Berlin 27/677/67739</p>
    <p>UstID: DE180786979</p>

    <h4>Vertreten durch den Vorstand:</h4>
    <p class="no-margin">Dr. Nina Wolff, amtierende Vorsitzende</p>
    <p class="no-margin">Dr. Rupert Ebner, Schatzmeister</p>
    <p class="no-margin">Lea Leimann, Beisitzerin</p>
    <p>Klaus Flesch, Beisitzer</p>

    <h4>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</h4>
    <p class="no-margin">Dr. Nina Wolff</p>
    <p class="no-margin">Luisenstraße 45</p>
    <p>10117 Berlin</p>

    <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
</div>